//FONTS
$font: 'Nunito', sans-serif;
$titleFontSize: 40px;
$regularFontSize: 16px;

// COLORS
$bgColor: #F8F8F8;
$blackFontColor: rgba(0, 0, 0, 0.87);
$whiteFontColor: #fff;
$placeholderColor: #7E7E7E;
$borderColor: #D0CFCF;
$primaryButtonColor: #F4E041;
$disabledButtonColor: #B4B4B4;